/* Site settings */

body{
	font-family: sans-serif;
	width:170%;
	max-width:2000px;
	margin-left: 250px;
	margin-right: 200px;
	padding-left: 200px;
	line-height:1.5;
}
.navbar.navbar-default{
	padding-left:200px;
	padding-top: 10px;
	width: 90%;
}
.navbar-brand{
	font-size: 20px;
}
ul.nav li{

	display: inline-block;
	padding-right: 8px;
	padding-top: 25px;
}

.nav li{
	padding: 8px, 8px;
	margin-right: 8px;
}
.nav a{
	background-color:black;
	color:white;
}
h1{
	color:purple;
	font:papyrus;
	text-align: center;
	padding-top: 100px;
}
p{
	font-size: 25px;
	padding-top: 50px;
	text-align: center;
	padding-bottom: 20px;
}

#contact_us{
	margin-bottom: 50px;

}
	